<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233811475926-dismp7okebc6bv2hnr7u5blkmih8dllq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233811475926-dismp7okebc6bv2hnr7u5blkmih8dllq</string>
	<key>API_KEY</key>
	<string>AIzaSyDL41f172lFP9aYxDNpp32NsifcH63UtKE</string>
	<key>GCM_SENDER_ID</key>
	<string>233811475926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.records</string>
	<key>PROJECT_ID</key>
	<string>inventory-3af73</string>
	<key>STORAGE_BUCKET</key>
	<string>inventory-3af73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233811475926:ios:2e5fbe866ea5700ee1b877</string>
	<key>DATABASE_URL</key>
	<string>https://inventory-3af73.firebaseio.com</string>
</dict>
</plist>